@import url("fonts/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* width */
::-webkit-scrollbar {
    width: 20px;
    background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #EEEEEE;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

body{
    margin: 0;
    padding: 0;
    background-color: #2D2D2D;
}

header{
    font-family: 'NF Ultra';
    background-color: rgb(15, 15, 15,10);
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    height: 5vw;
}

ul{
    display: flex;
    gap: 2.4vw;
    padding: 0;
    list-style-type: none;
}

ul:last-child{
    gap: 7vw;
}

a {
    text-decoration: none;
    font-size: 3vw;
    text-align: center;
    display: inline-block;
    position: relative;
    color: snow;
}

a::after{
    margin-top: 5vh;
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.10vw;
    left: 0;
    bottom: 0;
    background-color: snow;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after{
    margin-top: 5vh;
    transform: scaleX(1);
    transform-origin: bottom left;
}

#selected{
    text-decoration: underline;
}

#selected::after{
    display: none;
}

main{
    margin-top: 2vw;
    background-color: #2D2D2D;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 6vw;
    padding-bottom: 20px;
}

main div{
    height: auto;
}

.zdjmod {
    width: 40vw;
    height: auto;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

.shadow {
    position: absolute;
    margin-left: -40vw;
    z-index: 1;
    -webkit-filter: blur(6vw);
    filter: blur(5vw);
    width: 40vw;
    height: fit-content;
    border-radius: 20px;
}