@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url("fonts/stylesheet.css");

/* width */
::-webkit-scrollbar {
    width: 20px;
    background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #EEEEEE;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

body{
    margin: 0;
    padding: 0;
    background-color: #2D2D2D;
}

header{
    font-family: 'NF Ultra';
    background-color: #0F0F0F;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 5vw;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 3vw;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;

    display: inline-block;
    position: relative;
    color: snow;
}

 a::after{
    margin-top: 5vh;
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.10vw;
    left: 0;
    bottom: 0;
    background-color: snow;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

 a:hover::after{
    margin-top: 5vh;
    transform: scaleX(1);
    transform-origin: bottom left;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4vw;
    color: white;
    text-align: center;
}